{
  "openapi": "3.0.3",
  "info": {
    "title": "T-Mobile DevEdge API",
    "description": "SDKs for the T-Mobile DevEdge API.\n**Note:** You must have an active <a href='/dashboard/subscription'>subscription</a> in order to <a href='/documentation-hub/api-security/base-url'>view the base URL</a>.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "0.0.1",
    "contact": {
      "name": "T-Mobile Developer Support",
      "url": "https://developer.t-mobile.com/support"
    }
  },
  "servers": [
    {
      "url": "https://naas.t-mobile.com"
    },
    {
      "url": "{apiRoot}/{basePath}",
      "variables": {
        "apiRoot": {
          "description": "The DevEdge QoD <a href='/documentation-hub/api-security/base-url'>base URL</a>",
          "default": "https://naas.t-mobile.com"
        },
        "basePath": {
          "default": "qod/v0",
          "description": "Base path for the QoD API"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Connectivity",
      "description": "Operations related to SIM cards and devices.",
      "x-displayName": "Connectivity"
    },
    {
      "name": "Device Location",
      "description": "Operations related device locations.",
      "x-displayName": "Device Location"
    },
    {
      "name": "QoS sessions",
      "x-displayName": "QoS sessions"
    },
    {
      "name": "Session notifications callback",
      "x-displayName": "Session notifications callback"
    }
  ],
  "paths": {
    "/iot-connectivity/v1/devices/{iccid}": {
      "$ref": "paths/iot-connectivity_v1_devices_{iccid}.json"
    },
    "/iot-location/v1/locationCheck": {
      "$ref": "paths/iot-location_v1_locationCheck.json"
    },
    "/sessions": {
      "$ref": "paths/sessions.json"
    },
    "/sessions/{sessionId}": {
      "$ref": "paths/sessions_{sessionId}.json"
    },
    "/notifications": {
      "$ref": "paths/notifications.json"
    }
  },
  "components": {
    "securitySchemes": {
      "oAuth2ClientCredentials": {
        "type": "oauth2",
        "description": "This API uses OAuth 2 with the client credentials grant flow.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "{tokenUrl}",
            "scopes": {}
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "description": "API key to authorize requests",
        "name": "apikey",
        "in": "query"
      }
    }
  }
}